<h4 class="col-lg-3">質問一覧</h4>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ユーザー名</th>
      <th scope="col">カテゴリ</th>
      <th scope="col">タイトル</th>
      <th scope="col">通報された数</th>
      <th scope="col">記事の状態</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question|%>
    <tr>
      <th scope="row">
        <%= attachment_image_tag question.user, :image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %>
        <%= link_to "#{question.user.name}",admins_user_path(question.user_id) %>
      </th>
      <th>
        <%= question.category.name %>
      </th>
      <td>
        <%= link_to "#{question.title}", admins_question_path(question) %>
        
      </td>
      <td>
        <%= question.reports.count %>
      </td>
      <td>
        <% if question.delete_flag == true %>
          非表示
        <% elsif question.delete_flag == false %>
          表示中
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>