<div class="row qshow border border-dark">
  <div class="qshow__box col-lg-11">
    <div class="qshow__box row">
      <div class="col-lg-2 qshow__status"><%= @question.status %></div>
      <div class="col-lg-3 qshow__user">
      <%= link_to admins_user_path(@question.user_id) do %>
        <span class="qshow__user_image"><%= attachment_image_tag @question.user, :image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %></span>
        <span class="qshow__user_name ml-2"><%= @question.user.name %></span>
      <% end %>
      </div>
      <div class="col-lg-4 qshow__category">カテゴリ：<%= @question.category.name %></div>
    </div>
  </div>
  <div class="col-lg-11 qshow__title text-center">
    <%= @question.title %>
  </div>
  <div class="col-lg-4 qshow__image" data-toggle="modal" data-target="#image_Modal" style="cursor:pointer">
    <%= attachment_image_tag @question, :image, :fill, 300, 200, fallback: "no_image.jpg", size: "300x200" %>
  </div>
  <div class="col-lg-7 qshow__body">
    <div class="qshow__body_hight"><%= @question.body %></div>
    <div class="text-right">投稿日時：<%= @question.updated_at.to_s(:datetime_jp) %></div>
  </div>
  <div class="qshow__comment_box col-lg-11", id="question_comments_area">
    <% @question.comments.each do |comment| %>
      <div class="qshow__comment row">
        <div class="col-lg-2">
          <div class="qshow__comment_user">
            <%= attachment_image_tag comment.user, :image, fallback: "no_image.jpg", class:"comment-image", size: "40x40" %>
            <%= link_to "#{comment.user.name}", admins_user_path(comment.user.id) %>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="qshow__comment_body">
            <%= comment.message %>
          </div>
          <div class="qshow__comment_time">
            <%= comment.created_at.to_s(:datetime_jp) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="qshow__link_box col-lg-12">
  <%= form_with model: @question, url: admins_question_path(@question), method: :patch, local: true do |f|%>
    <% if @question.delete_flag == false %>
      <%= f.hidden_field :delete_flag, value: 'true' %>
      <%= f.submit "記事を非表示にする", data: {confirm: ('この記事を非表示にしてよろしいですか？')}, class: 'btn btn-danger btn-block' %>
    <% elsif @question.delete_flag == true %>
      <%= f.hidden_field :delete_flag, value: 'false' %>
      <%= f.submit "記事を表示する", data: {confirm: ('このを表示してよろしいですか？')}, class: 'btn btn-info btn-block' %>
    <% end %>
  <% end %>
  </div>
</div>