<div class="row following border border-dark">
  <h4 class="col-lg-3">フォロー</h4>
  <% @followings.each do |following|%>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-2">
        <div class="row">
          <div class="col-lg-11">
            <%= attachment_image_tag following, :image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %>
            <%= link_to "#{following.name}",user_path(following) %>
          </div>
          <div class="col-lg-11">
            <% if following.id != current_user.id %>
            <% if current_user.following?(following) %>
              <%= link_to "フォロー解除",user_unfollow_path(following.id,following.id), method: :post, class: 'btn btn-info', remote: true %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="row">
          <div class="col-lg-11">
            <%= following.occupation %>
          </div>
          <div class="col-lg-11">
            <%= following.work_history %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <%= following.profile %>
      </div>
      <% if following.id != current_user.id %>
        <% if (current_user.following? following) && (following.following? current_user) %>
          <div class="col-lg-1">
              DM
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
      <% end %>
</div>