<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-3">
        <%= attachment_image_tag @user, :image, :fill, 200, 200, fallback: "no_image.jpg", size: "200x200" %>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-7"><%= @user.name %></div>
          <% if @user.id == current_user.id %>
          <div class="col-lg-4">
            <%= link_to "編集", edit_user_path(@user), class:"btn btn-primary" %>
          </div>
          <% end %>
          <% unless @user == current_user %>
          <div class="col-lg-12" id="follow_botton_#{<%= @user.id %>}">
            <%= render "follow_botton" %>
          </div>
          <% end %>
          <div class="col-lg-12" id="following-count_#{<%= @user.id %>}">
            <%= link_to "フォロー#{ @user.follower.count }人", user_following_path(@user.id) %>
          </div>
          <div class="col-lg-12" id="follower-count_#{<%= @user.id %>}">
            <%= link_to "フォロワー#{ @user.followed.count }人", user_follower_path(@user.id) %>
          </div>
          <div class="col-lg-12">ダイレクトメッセージ</div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-4"><%= @user.occupation %></div>
          <div class="col-lg-4"><%= @user.work_history %></div>
        </div>
        <h5>自己紹介</h5>
        <div class="col-lg-12"><%= @user.profile %></div>
      </div>
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">これまでの投稿</button>
    <button type="button" class="btn btn-secondary">これまでの質問</button>
    <button type="button" class="btn btn-secondary">いいねした記事</button>
  </div>
  <%= render 'shared/timeline' %>
</div>