<div class="row">
  <% @timeline.first(3).each do |all| %>
    <% if all.delete_flag == false %>
      <% if all.status == "質問" %>
        <div class="timeline">
          <div class="timeline__head">
            <span class="timeline__status"><%= all.status %></span>
            <span class="timeline__category">カテゴリ： <%= all.category.name %></span>
          </div>
        <%= link_to question_path(all) do %>
          <div class="timeline__title"><%= all.title %></div>
        <% end %>
          <div class="timeline__imege">
            <%= attachment_image_tag all, :image, :fill, 300, 200, fallback: "no_image.jpg", size: "300x200" %>
          </div>
          <div class="timeline__body"><%= all.body %></div>
        </div>
      <% elsif all.status == "解決済" %>
        <div class="timeline">
          <div class="timeline__head">
            <span class="timeline__status"><%= all.status %></span>
            <span class="timeline__category">カテゴリ： <%= all.category.name %></span>
          </div>
        <%= link_to question_path(all) do %>
          <div class="timeline__title"><%= all.title %></div>
        <% end %>
          <div class="timeline__imege">
            <%= attachment_image_tag all, :image, :fill, 300, 200, fallback: "no_image.jpg", size: "300x200" %>
          </div>
          <div class="timeline__body"><%= all.body %></div>
        </div>
      <% else %>
        <div class="timeline">
          <div class="timeline__head">
            <span class="timeline__status"><%= all.status %></span>
            <span class="timeline__category">カテゴリ： <%= all.category.name %></span>
          </div>
        <%= link_to post_path(all) do %>
          <div class="timeline__title"><%= all.title %></div>
        <% end %>
          <div class="timeline__imege">
            <%= attachment_image_tag all, :image, :fill, 300, 200, fallback: "no_image.jpg", size: "300x200" %>
          </div>
          <div class="timeline__body"><%= all.body %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>