<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><%= link_to "監督のつぶやき", root_path ,class:"navbar-brand" %></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    	<% if user_signed_in? %>
      <li class="nav-item active mr-2">
        <span class="badge badge-pill badge-light">
          <%= link_to 'About', homes_about_path %>
        </span>
      </li>
      <li class="nav-item active mr-2">
        <span class="badge badge-pill badge-light">
          <%= link_to '一覧', root_path %>
        </span>
      </li>
      <li class="nav-item active mr-2">
        <span class="badge badge-pill badge-light">
          <%= link_to '投稿する', new_post_path %>
        </span>
      </li>
      <li class="nav-item active mr-2">
        <span class="badge badge-pill badge-light">
          <%= link_to '質問する', new_question_path %>
        </span>
      </li>
      <li class="nav-item active mr-2">
        <span class="badge badge-pill badge-light">
          <%= link_to '通知', notifications_path %>
        </span>
      </li>
      <li class="nav-item active mr-2">
        <span class="badge badge-pill badge-light">
          <%= link_to 'マイページ', user_path(current_user) %>
        </span>
      </li>
      <li class="nav-item active mr-2">
        <span class="badge badge-pill badge-light">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </span>
      </li>
      <% else %>
      <li class="nav-item active mr-2">
        <span class="badge badge-pill badge-light">
          <%= link_to 'Top', root_path %>
        </span>
      </li>
      <li class="nav-item active mr-2">
        <span class="badge badge-pill badge-light">
          <%= link_to 'About', homes_about_path %>
        </span>
      </li>
      <li class="nav-item active mr-2">
        <span class="badge badge-pill badge-light">
          <%= link_to 'ログイン', new_user_session_path %>
        </span>
      </li>
      <li class="nav-item active mr-2">
        <span class="badge badge-pill badge-light">
          <%= link_to '新規登録', new_user_registration_path %>
        </span>
      </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>