<%= form_with model:@question, local: true do |f| %>
<div class="qform row border border-dark">
  <h3 class="qform__bigtitle col-lg-12 col-md-12 col-12 mt-4 text-center"><span class="qform__bigtitle_name border border-dark">　質問の編集　</span></h3>
  <div class="qform__image col-lg-4 col-md-4 col-12 form-group">
    <%= f.label :添付写真 %><br>
    <%= attachment_image_tag @question, :image, fallback: 'no_image_toukou.jpg', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev' %>
    <%= f.attachment_field :image, class: 'img_field', style:"display: none" %>
  </div>
  <%= render "shared/post-question_form", f: f %>
  <div class="qform__submit col-lg-11 col-md-11">
    <%= f.submit "更新する", class: 'btn btn-outline-primary btn-block mb-4' %>
  </div>
</div>
<% end %>