<%= form_with model:@question, local: true do |f| %>
<%= f.hidden_field :status, value: "質問" %>
<div class="qform row border border-dark">
<h3 class="qform__bigtitle col-lg-12 mt-4 text-center"><span class="qform__bigtitle_name border border-dark">　新規質問　</span></h3>
  <div class="qform__image col-lg-4 form-group">
    <%= f.label :添付写真 %>
    <%= attachment_image_tag @question, :image, fallback: 'no_image.jpg', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev' %>
    <%= f.attachment_field :image, class: 'img_field', style:"display: none" %>
  </div>
  <%= render "shared/post-question_form", f: f%>
  <div class="qform__submit col-lg-11">
    <%= f.submit "質問する", class: 'btn btn-outline-primary btn-block mb-4' %>
  </div>
</div>
<% end %>