<h4 class="col-lg-3">ユーザー一覧</h4>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ユーザー名</th>
      <th scope="col">職種</th>
      <th scope="col">職歴</th>
      <th scope="col">自己紹介文</th>
      <th scope="col">ユーザーの状態</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
    <tr>
      <th scope="row">
        <%= attachment_image_tag user, :image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %>
        <%= link_to "#{user.name}",admins_user_path(user) %>
      </th>
      <th>
        <%= user.occupation %>
      </th>
      <td>
        <%= user.work_history %>
      </td>
      <td>
        <%= user.profile %>
      </td>
      <td>
        <% if user.withdrawal_status == true %>
          凍結
        <% elsif user.withdrawal_status == false %>
          有効
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>