<%= form_with model:@user, local: true do |f| %>
<div class="row border border-dark">
<h3 class="col-lg-12 mt-4 text-center"><span class="border border-dark">　プロフィール編集　</span></h3>
  <div class="col-lg-4 form-group">
    <%= f.label :image %>
    <%= f.attachment_field :image, class: 'form-control' %>
  </div>
  <div class="col-lg-7 form-group">
    <div class="row">
      <div class="col-lg-11">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="col-lg-5">
      <%= f.label :occupation %>
      <%= f.text_field :occupation, class: 'form-control'  %>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <%= f.label :work_history %>
        <%= f.text_field :work_history, class: 'form-control' %>
      </div>
      <div class="col-lg-11">
        <%= f.label :profile %>
        <%= f.text_area :profile, rows: 10 ,class: 'form-control' %>
      </div>
      <div class="col-lg-11">
        <%= f.submit "更新する", class: 'btn btn-primary btn-block mb-4' %>
        <%= link_to "アカウント編集", edit_user_registration_path(@user), class:"col-lg-3 btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
</div>
<% end %>