<%= form_with model:@post, local: true do |f| %>
<div class="pform row border border-dark">
<h3 class="pform__bigtitle col-lg-12 mt-4 text-center"><span class="pform__bigtitle_name border border-dark">　投稿の編集　</span></h3>
  <div class="pform__image col-lg-4 form-group">
    <%= f.label :添付写真 %>
    <%= attachment_image_tag @post, :image, fallback: 'no_image_.jpg', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev' %>
    <%= f.attachment_field :image, class: 'img_field', style:"display: none" %>
  </div>
  <%= render "shared/post-question_form", f: f %>
  <div class="pform__submit col-lg-11">
    <%= f.submit "更新する", class: 'btn btn-outline-primary btn-block mb-4' %>
  </div>
</div>
<% end %>