<div class="row pshow border border-dark">
  <div class="col-lg-11 pshow__box">
    <div class="row pshow__box">
      <div class="col-lg-2 pshow__status"><%= @post.status %></div>
      <div class="col-lg-3 pshow__user">
      <%= link_to user_path(@post.user_id) do %>
        <span class="pshow__user_image"><%= attachment_image_tag @post.user, :image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %></span>
        <span class="pshow__user_name ml-2"><%= @post.user.name %></span>
      <% end %>
      </div>
      <div class="col-lg-4 pshow__category">カテゴリ：<%= @post.category.name %></div>
      <div class="col-lg-1 pshow__like"><%= render 'user/posts/post_like', post: @post %></div>
    </div>
  </div>
  <div class="col-lg-11 pshow__title text-center">
    <%= @post.title %>
  </div>
  <div class="col-lg-4 pshow__image" data-toggle="modal" data-target="#image_Modal" style="cursor:pointer">
    <%= attachment_image_tag @post, :image, :fill, 300, 200, fallback: "no_image.jpg", size: "300x200" %>
  </div>
  <div class="col-lg-7 pshow__body">
    <div class="pshow__body_hight"><%= @post.body %></div>
    <div class="text-right">投稿日時：<%= @post.updated_at.to_s(:datetime_jp) %></div>
    <% if user_signed_in? %>
  <div class="text-right"><%= link_to "この記事を通報する",post_report_new_path(@post) %></div>
    <% end %>
  </div>
  <div class="pshow__box col-lg-11", id="post_comments_area">
      <%= render partial: 'user/comments/post_index', locals: { comments: @post_comments } %>
  </div>
  <div class="pshow__comment_box col-lg-11">
      <% if user_signed_in? %>
          <%= render partial: 'user/comments/post_form', locals: { comment: @post_comment, post: @post } %>
      <% end %>
  </div>
  <% if user_signed_in? %>
    <% if @post.user_id == current_user.id %>
    <div class="pshow__link_box col-lg-12">
      <%= link_to "投稿を編集する", edit_post_path(@post), class:"col-lg-3 btn btn-primary" %>
      <%= link_to "投稿を削除する", post_path(@post), method: :delete, data: {confirm: ('本当に削除してよろしいですか？')}, class:"col-lg-3 btn btn-danger" %>
    </div>
    <% end %>
  <% end %>
</div>