<% visiter = notification.visiter %>
<% post = notification.post %>
<% question = notification.question %>

<div class="user-view clearfix ">
  <%= link_to user_path(notification.visiter) do %>
    <%= attachment_image_tag visiter, :image, :fill, 50, 50, fallback: "no_image_user.jpg", size: "50x50", class:"profile-img-circle" %>
  <% end %>
  <%= notification_user_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
  <% if !@comment.nil? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
  <% end %>
</div>